@font-face {
	font-family: 'icomoon';
	src:font-url('icomoon.eot?-hj3smd');
	src:font-url('fonts/icomoon.eot?#iefix-hj3smd') format('embedded-opentype'),
		font-url('fonts/icomoon.woff?-hj3smd') format('woff'),
		font-url('fonts/icomoon.ttf?-hj3smd') format('truetype'),
		font-url('fonts/icomoon.svg?-hj3smd#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-triangle-up:before {
	content: "\e000";
}
.icon-triangle-up-small:before {
	content: "\e001";
}
.icon-triangle-right-large:before {
	content: "\e002";
}
.icon-triangle-left-large:before {
	content: "\e003";
}
.icon-triangle-down:before {
	content: "\e004";
}
.icon-info:before {
	content: "\e016";
}
.icon-alert:before {
	content: "\e017";
}
.icon-question:before {
	content: "\e018";
}
.icon-window:before {
	content: "\e019";
}
.icon-windows:before {
	content: "\e01a";
}
.icon-arrow-right:before {
	content: "\e02c";
}
.icon-arrow-left:before {
	content: "\e02d";
}
.icon-loop:before {
	content: "\e02e";
}
.icon-cmd:before {
	content: "\e02f";
}
.icon-mic:before {
	content: "\e030";
}
.icon-triangle-down-small:before {
	content: "\e005";
}
.icon-check-inverted:before {
	content: "\e006";
}
.icon-heart:before {
	content: "\e007";
}
.icon-location:before {
	content: "\e008";
}
.icon-plus:before {
	content: "\e009";
}
.icon-check:before {
	content: "\e00a";
}
.icon-cross:before {
	content: "\e00b";
}
.icon-list:before {
	content: "\e00c";
}
.icon-new:before {
	content: "\e00d";
}
.icon-video:before {
	content: "\e00e";
}
.icon-photo:before {
	content: "\e00f";
}
.icon-volume:before {
	content: "\e010";
}
.icon-time:before {
	content: "\e011";
}
.icon-eye:before {
	content: "\e012";
}
.icon-chat:before {
	content: "\e013";
}
.icon-home:before {
	content: "\e015";
}
.icon-upload:before {
	content: "\e01b";
}
.icon-search:before {
	content: "\e01c";
}
.icon-user:before {
	content: "\e01d";
}
.icon-mail:before {
	content: "\e01e";
}
.icon-lock:before {
	content: "\e01f";
}
.icon-power:before {
	content: "\e020";
}
.icon-star:before {
	content: "\e021";
}
.icon-calendar:before {
	content: "\e023";
}
.icon-gear:before {
	content: "\e024";
}
.icon-book:before {
	content: "\e025";
}
.icon-exit:before {
	content: "\e026";
}
.icon-trash:before {
	content: "\e027";
}
.icon-folder:before {
	content: "\e028";
}
.icon-bubble:before {
	content: "\e029";
}
.icon-cross-inverted:before {
	content: "\e02a";
}
.icon-plus-inverted:before {
	content: "\e031";
}
.icon-export:before {
	content: "\e014";
}
.icon-radio-unchecked:before {
	content: "\e02b";
}
.icon-radio-checked:before {
	content: "\e032";
}
.icon-checkbox-unchecked:before {
	content: "\e033";
}
.icon-checkbox-checked:before {
	content: "\e034";
}
.icon-flat:before {
	content: "\e035";
}
.icon-calendar-solid:before {
	content: "\e022";
}
.icon-star2:before {
	content: "\e036";
}
.icon-credit-card:before {
	content: "\e037";
}
.icon-clip:before {
	content: "\e038";
}
.icon-link:before {
	content: "\e039";
}
.icon-pause:before {
	content: "\e03b";
}
.icon-play:before {
	content: "\e03c";
}
.icon-tag:before {
	content: "\e03d";
}
.icon-document:before {
	content: "\e03e";
}
.icon-image:before {
	content: "\e03a";
}
.icon-facebook:before {
	content: "\e03f";
}
.icon-youtube:before {
	content: "\e040";
}
.icon-vimeo:before {
	content: "\e041";
}
.icon-twitter:before {
	content: "\e042";
}
.icon-stumbleupon:before {
	content: "\e043";
}
.icon-spotify:before {
	content: "\e044";
}
.icon-skype:before {
	content: "\e045";
}
.icon-pinterest:before {
	content: "\e046";
}
.icon-path:before {
	content: "\e047";
}
.icon-myspace:before {
	content: "\e048";
}
.icon-linkedin:before {
	content: "\e049";
}
.icon-googleplus:before {
	content: "\e04a";
}
.icon-dribbble:before {
	content: "\e04c";
}
.icon-blogger:before {
	content: "\e04d";
}
.icon-behance:before {
	content: "\e04e";
}
.icon-list-thumbnailed:before {
	content: "\e04b";
}
.icon-list-small-thumbnails:before {
	content: "\e04f";
}
.icon-list-numbered:before {
	content: "\e050";
}
.icon-list-large-thumbnails:before {
	content: "\e051";
}
.icon-list-columned:before {
	content: "\e052";
}
.icon-list-bulleted:before {
	content: "\e053";
}
